{% extends 'base.html.twig' %}
{% block title %}Registration Successful{% endblock %}
{% block body %}
<div class="container mt-5 text-center">
    <h2 style="color:#e30613">Registration Successful! 🎉</h2>
    <p class="lead">Welcome, {{ registration.firstName }} {{ registration.lastName }}!</p>
    <p>Your ticket number: <strong>{{ registration.ticketNumber }}</strong></p>
    <a href="/ticket/{{ registration.id }}" class="btn btn-ism mt-3">Download PDF Ticket</a>
    <a href="/" class="btn btn-secondary mt-3 ms-2">Back to Home</a>
</div>
{% endblock %}